.footer-powered{
	display: none!important;
}
:root {
    --primary: #598b5e;
	--dt-primary-color:#598b5e;
}
:root,
[data-theme=light] {
  --brand-color: #598b5e; 
}

.btn-primary:not(:disabled):not(.disabled):active, div#driver-popover-item .driver-popover-footer button.driver-next-btn:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, div#driver-popover-item .driver-popover-footer button.driver-next-btn:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle, div#driver-popover-item .driver-popover-footer .show > button.dropdown-toggle.driver-next-btn {
	color: #fff;
	background-color: #598b5e;
	border-color: #f3f1e4;
  }
  .btn-primary:not(:disabled):not(.disabled):active:focus, div#driver-popover-item .driver-popover-footer button.driver-next-btn:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, div#driver-popover-item .driver-popover-footer button.driver-next-btn:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus, div#driver-popover-item .driver-popover-footer .show > button.dropdown-toggle.driver-next-btn:focus {
	box-shadow: var(--shadow-inset), 0 0 0 2px rgba(1, 64, 32, 0.5);
  }
  .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link.active {
	color: #598b5e;
}